<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, :autofocus => true %><br/>
    <%= f.input :age_range, collection: User::AGE_OPTIONS, :selected => @user.age_range %><br/>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br/>
<div>
  Connect Account<br/>
  <% ['facebook', 'twitter'].each do |provider| %>

    <% if current_user.authorizations.pluck(:provider).include?(provider.to_s) %>
      <%= provider.to_s.titleize %> Connected
    <% else %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path('user', provider) %>
    <% end %>
    <br/>
  <% end %>

</div>
