<p id="notice"><%= notice %></p>

<p>
  <strong>Artist name:</strong>
  <%= @song.artist_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Genere name:</strong>
  <%= @song.genere_name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @song.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @song.price %>
</p>

<p>
  <strong>Played song:</strong>
  <%= @song.played_song %>
</p>

<p>
  <strong>Country:</strong>
  <%= @song.country %>
</p>

<p>
  <strong>Song image:</strong>
  <%= @song.song_image %>
</p>

<p>
  <strong>Song file:</strong>
  <%= @song.song_file %>
</p>

<p>

<audio src="<%= @song.song_file.url %>" preload="auto" />
</p>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
<script src="/audiojs/audio.min.js"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>